.shop{
  height: 100vh;
  background-image: url('../public/shop.jpg');
  color: rgb(223, 8, 79);
}
.same-changes{
  background-color: white;
}
.change-items{
  background-color: rgba(233, 122, 122, 0.623);
  color: rgb(124, 8, 8);
  border: none;
  border-radius: 45%;
  padding: 7px 18px;
  margin: 5px;
  cursor: pointer;
  /* font-weight: 800; */
}